*{
    padding: 0;
    margin: 0;
}
#app{
    width: 600px;
    height: auto;
    margin: 50px auto;
}
.head{
    height: 280px;
}
.file {
    display: flex;
}
.head .file span {
    margin-right: 20px;
    display: block;
    width: 40px;
    height: 50px;
    line-height: 50px;
}
.head .file .img div{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.head .file .img div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* margin-left: 5px; */
}
.head .file .input input{
    margin-top: 10px;
    width: 350px;
    height: 30px;
    line-height: 30px;
}
.head .sub{
    width: 480px;
    margin: 20px auto;
}
.head .sub .file button{
    background-color: brown;
    color:#ffffff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid brown;
}
.head .sub .file .clear {
    color: rgb(9, 139, 159);
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.content .info {
    display: flex;
}
.content .info div {
    width: 80px;
    text-align: center;
    height: 30px;
    padding: 5px;
    line-height: 30px;
}
/* .content .info .cur{
    color: rgb(9, 139, 159);
    background-color: #f4f4f4;
    border-radius: 5px;
} */
.content .info .cur{
    color: rgb(9, 139, 159);
    background-color: #f4f4f4;
    border-radius: 5px;
}
.content .msg{
    padding: 20px;
    height: 60px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.content .msg .file img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content .msg .file .text {
    margin-left: 20px;
    margin-top: 10px;
}
.content .msg .btu{
    float: right;
    margin-top: 20px;
}
.content .msg .btu button{
    width: '80px';
    height: '30px';
}